.discover {
  padding-top: 80px;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/AbstractImg.png');
    background-size: cover;
    background-attachment: fixed;
    width: 100%; 
    height: auto;

  }

.btns-genre {
    display: flex;
    position: absolute;
    margin-top: 200px; 
    
}

.btns-genres {

  font-family: "Manrope", sans-serif;
font-weight: 600;
font-style: normal;
  
}

.discover h2{
    margin-top: 50px;
    margin-left: -700px;
    margin-bottom: 30px;
    color: #A08786;
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #3E2D70;
}



.btn-adventure,
.btn-classic,
.btn-contemporaryfiction,
.btn-dystopian,
.btn-fantasy,
.btn-fiction,
.btn-histfiction,
.btn-horror,
.btn-memoir,
.btn-mystery,
.btn-nonfiction, 
.btn-poetry,
.btn-romance,
.btn-sciencefiction,
.btn-selfhelp,
.btn-thriller,
.btn-truecrime,
.btn-youngadult,
.btn-search{
  display: inline-block;
    padding: 10px 60px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #F68AAF; /* pink */
    color: #fff; /* white */
    margin-top: 20px;
    margin-right: 30px;
}

.btn-adventure{
    margin-left: 150px;
}

.btn-adventure:hover,
.btn-sciencefiction:hover,
.btn-histfiction:hover,
.btn-truecrime:hover{
  background-color: #ef749f; /*pink*/
  transition: 0.3s ease;
}

.btn-classic, .btn-horror,   .btn-search{
      padding: 10px 60px;
      background-color: #897AD5; /* purple */
  }

.btn-classic:hover,
.btn-horror:hover,
.btn-search:hover,
.btn-mystery:hover,
.btn-search:hover{
    background-color: #6c54df; /* purple */
    transition: 0.3s ease;
  }

.btn-poetry, .btn-thriller {
      padding: 10px 60px;
      background-color: #88C3E4; /* lightblue */
  }

  .btn-fantasy:hover,
  .btn-poetry:hover,
  .btn-thriller:hover{
    background-color: #58b7ee;
    transition: 0.3s ease;
  }

.btn-fiction, .btn-romance {
    background-color: #B0507F; /* maroon*/
  }
  
.btn-dystopian:hover,
.btn-fiction:hover,
.btn-romance:hover,
.btn-selfhelp:hover{
    background-color: #da3c88;
    transition: 0.3s ease;
  }

.btn-fantasy{
    margin-left: 90px;
    background-color: #88C3E4; /* lightblue */
  }

  .btn-contemporaryfiction, .btn-memoir, .btn-nonfiction, .btn-youngadult{
      padding: 10px 60px;
      background-color: #95B9B4; /* green */
  }

.btn-contemporaryfiction:hover,
.btn-memoir:hover,
.btn-nonfiction:hover,
.btn-youngadult:hover{
    background-color: #50b1a4;
    transition: 0.3s ease;
  }

  .btn-mystery{
      padding: 10px 60px;
      background-color: #897AD5; /* purple */
      margin-left: 60px;
  }

  .btn-dystopian{
      padding: 10px 50px;
      background-color: #B0507F; /* maroon */
  }
  .btn-selfhelp{
    padding: 10px 50px;
    background-color: #B0507F; /* maroon */
    margin-left: 130px;
  }

  .genre-row4{
    margin-bottom: 80px;
  }

  .btn-youngadult{
      padding: 10px 70px;
      background-color: #95B9B4; /* green */
  }

  .btn-search{
      padding: 10px 40px;
      background-color: #897AD5; /* purple */
  }
  .BOTM-container {
    background-color: #fff;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  .BOTM-content{
    padding-left: 80px;
    margin-top: 30px;
  }

  .BOTM-content h2{
    margin:0;
    color: white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: -20px;
  }

  .BOTM-content p{
    padding-left: 30px;
  }

  .BOTM-summary{
    margin-top: 30px;
    margin-left: 20px;
  }

  .BOTM-summary p{
    font-style: italic;
    font-size: 22px;
  }
  .BOTM-image{
    height: 500px;
    width: auto;
    margin-top: 35px;
  }

 .qResultHeader{
    text-align: left;
    padding-left: 60px;
 }

