
.BD-container {
    position:relative;
    margin-top: 30px; /* Adjust as needed */
    width: 100vw;
    z-index: 0;
    padding:0;
    margin:0;
  }
  
  .BD-content {
    position: absolute;
    width: 100%;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex:1;
    padding: 20px;
    z-index: 1;
  }
  
  .BD-divider{
    width: 18%;
    margin: auto;
    border-width: 2px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .BD-content h1 {
    font-size: 3rem;
    right: 50px;
    margin-bottom: 35px;
    margin-left: 150px;
  }
  
  .BD-content h2{
    font-size: 2.75rem;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 170px;
  }
  
  .BD-content h3{
    font-size: 2rem;
    margin-left: 350px;
  }
  
  .BD-content p {
    font-size: 1.7rem;
    margin-bottom:5px;
    margin-left: -570px;
    text-align: center;
  }
  
  .BD-divider{
    margin-left: 300px;
  }
  
  .BD-imageZoom {
    width: 100vw; /* Adjust as needed */
    height:auto;
    display: block;
    z-index: -1;
    opacity: 0.75;
  }
  
  .BD-image {
    position:absolute;
    top: 0px;
    right: 130px;
    width: 275px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
  }
  
  .BD-description{
    position:relative;
    margin-right: 50px;
    margin-top: 30px; /* Adjust as needed */
    width: 70vw;
    z-index: 0;
    padding:0;
    margin:0;
  }

  .BD-description p{
    font-size: 1.0rem;
    margin-bottom: 5px;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 20px;
  }

  .WTRBtn{
    position:absolute;
    top: 435px;
    right: 150px;
    height: auto; /* Maintain aspect ratio */
    z-index: 1;

    width: 230px;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #F8A2C0;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 0 4px #ffffff;

}

.BD-info{
  position:absolute;
  top: 500px;
  right: 115px;
  width: 300px; /* Adjust width as needed */
  z-index: 1;
  
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  color: #F8A2C0;
  background-color: #ffffff;
  box-shadow: 0 0 0 4px #F8A2C0;
}

.BD-info p{
  color:#897AD5;
  font-size: 1.2rem;
  text-align: right;
  padding-bottom: 10px;
}
.BD-icon {
  height: 50px;
  margin-left: 20px;
  margin-right: auto;
}