.community {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.leaderboard-container {
  position: relative;
  width: 100vw;
}

.leaderboard-static {
  width: 100%;
  height: auto;
  display: block;
}

.hero-community-content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-size: contain;
  background-position: left;
  color: rgb(0, 0, 0);
  width: 50%;
}

