.dashboard{
    padding-top: 80px;
    display: flex;
   flex-direction: column; 
}
.Dashboard-Icon{
    margin-top: 50px;
    margin-left: -1150px;
}
.bio{
    color: #8B7574;
    margin-left: -100px;
}

.bio h1{
    margin-top: -165px;
    margin-bottom: 10px;
    font-size: 50px;
}

.bio h2{
    margin-bottom: 20px;
    font-size: 30px;
}
.bio p{
    text-align: left;
    margin-bottom: 80px; 
    font-size: 30px;
}

.currentreading{
    width: 1000px;
    height: auto;;
    display: block; 
    margin-bottom: 50px;
    margin-left: -280px;
}

.dashboard p {
    text-align: left;
}

.editbutton {
    padding: 10px 30px;
    border-radius: 50px;
    color: #ffffff;
    background: #DA92AC;
    margin-top: -40px;
    margin-bottom: 50px;
    margin-left: 1000px;
    font-size: 25px;
}

.updateprogressbtn{
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    background: #DA92AC;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 0 4px #ffffff;
    margin-top: -110px;
    margin-left: 25px;
}

.chat1{
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    background: #DA92AC;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 0 4px #ffffff;
    margin-left: 810px;
    margin-top: -70px;

}

.chat2{
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    background: #DA92AC;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 0 4px #ffffff;
    margin-left: 560px;
    margin-top: -70px;
}

.chat3{
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    background: #DA92AC;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 0 4px #ffffff;
    margin-left: 1070px;
    margin-top: -70px;
}

.topgenres p{
    margin-top: 30px;
    color: #A08786;
}

.topgenre1,
.topgenre2,
.topgenre3,
.topgenre4,
.topgenre5{
    display: inline-block;
    padding: 10px 60px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    color: #fff; /* white */
    margin-right: 40px;
    margin-top: 30px;
}

.topgenre1 {
    background-color: #EAD2AC; /*yellow */
}

.topgenre2 {
    background-color: #DA92AC; /*pink */
}

.topgenre3 {
    background-color: #88C3E4; /*pink */
}

.topgenre4{
    background-color: #9DBEBD; /*yellow */
}

.topgenre5{
    background-color: #4281A4; /*blue */
    flex-direction: column;
}


.quizresultheader{
    text-align: left;
    /* padding-left: 20px; */
    color: #A08786;

    /* margin-bottom: 20px;
    text-align: left;
    margin-left: 130px;
    width: 100%;
    color: #A08786; */
    
}

