.discover{
    display: flex;
    flex-direction: column;
}

.btns-genre {
    display: flex;
    position: absolute;
    margin-top: 200px; 
}

.discover h2{
    margin-top: 50px;
    margin-left: -700px;
    margin-bottom: 30px;
}


.quizresultheader{
}

.btn-adventure,
.btn-classic,
.btn-fantasy,
.btn-fiction,
.btn-histfiction,
.btn-horror,
.btn-memoir,
.btn-mystery,
.btn-nonfiction, 
.btn-poetry,
.btn-romance,
.btn-selfhelp,
.btn-thriller,
.btn-truecrime,
.btn-youngadult,
.btn-search{
  display: inline-block;
    padding: 10px 60px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #DBD1AB; /* yellow */
    color: #fff; /* white */
    margin-top: 20px;
    margin-right: 40px;
}

.btn-classic, .btn-memoir{
      padding: 10px 60px;
      background-color: #5397AC; /* blue */
  }
  
  .btn-fantasy{
      padding: 10px 60px;
      background-color: #95B9B4; /* green */
  }

  .btn-histfiction{
      padding: 10px 80px;
      background-color: #95B9B4; /* green */
      margin-left: -60px;
  }

  .btn-horror{
      padding: 10px 60px;
      background-color: #D6B2A6; /* pink */
  }

  .btn-mystery, .btn-poetry{
      padding: 10px 50px;
      background-color: #95B9B4; /* green */
  }

  .btn-nonfiction{
      padding: 10px 70px;
      background-color: #5397AC; /* blue */
      margin-left: -30px;
  }

  .btn-romance, .btn-thriller{
      padding: 10px 70px;
      background-color: #D6B2A6; /* pink */
  }

  .btn-selfhelp, .btn-truecrime{
      padding: 10px 50px;
      background-color: #DBD1AB; /* yellow */
  }

  .genre-row4{
    margin-bottom: 80px;
  }

  .btn-youngadult{
      padding: 10px 70px;
      background-color: #5397AC; /* blue */
  }

  .btn-search{
      padding: 10px 40px;
      background-color: #D6B2A6; /* pink */
  }

  .BOTM-content h2{
    margin:0;
  }
  
  .BOTM-summary{
    margin-top: 30px;
    
  }

