
.booktok {
      padding: 10px 10px;
      background-color: #897AD5;
      color:rgb(235, 238, 237);
      text-align: center;
      border-radius: 50px;
}
.cliff-hanger {
    padding: 10px 10px;
    background-color: #F676A5;
    color: white;
    text-align: center;
    border-radius: 50px;
}
.historical {
    padding: 10px 10px;
    background-color: #F68AAF;
    color:rgb(255, 255, 255);
    text-align: center;
    border-radius: 50px;
}
.thriller {
    padding: 10px 10px;
    background-color: #F676A5;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50px;
}
.horror {
    background-color: #74C8F0;
    padding: 10px 10px;
    color: white;
    text-align: center;
    border-radius: 40px;
}
.fantasy {
    background-color: #897AD5;
    padding: 10px 10px;
    color: white;
    text-align: center;
    border-radius: 40px;
}
.more {
    background-color: #74C8F0;
    padding: 10px 10px;
    color: white;
    text-align: center;
    border-radius: 40px;
}
.header {
    margin-left: 60px;
}
.trending {
    background-color: #B0507F;
    padding: 10px 10px;
    color: white;
    text-align: center;
    border-radius: 40px;
    margin-left: 20px;
}
.fiction {
    background-color: #4281A4;
    padding: 10px 10px;
    color: white;
    text-align: center;
    border-radius: 40px;
}