.discover {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/AbstractImg.png');
    background-size: cover;
    background-attachment: fixed;
  }

.btns-genre {
    display: flex;
    position: absolute;
    margin-top: 200px; 
}

.discover h2{
    margin-top: 50px;
    margin-left: -700px;
    margin-bottom: 30px;
}



.btn-adventure,
.btn-classic,
.btn-cookbooks,
.btn-contemporaryfiction,
.btn-dystopian,
.btn-fantasy,
.btn-fiction,
.btn-histfiction,
.btn-horror,
.btn-memoir,
.btn-mystery,
.btn-nonfiction, 
.btn-poetry,
.btn-romance,
.btn-sciencefiction,
.btn-selfhelp,
.btn-thriller,
.btn-truecrime,
.btn-youngadult,
.btn-search{
  display: inline-block;
    padding: 10px 60px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #DBD1AB; /* yellow */
    color: #fff; /* white */
    margin-top: 20px;
    margin-right: 30px;
}

.btn-adventure{
    margin-left: 40px;
}
.btn-classic, .btn-memoir{
      padding: 10px 60px;
      background-color: #5397AC; /* blue */
  }
  
.btn-contemporaryfiction, .btn-romance, .btn-truecrime{
      padding: 10px 60px;
      background-color: #95B9B4; /* green */
  }

.btn-fiction{
    background-color: #D6B2A6;
  }
  
.btn-fantasy{
    margin-left: 90px;
    background-color: #95B9B4; /* green */
  }

.btn-cookbooks,.btn-poetry, .btn-sciencefiction{
      padding: 10px 60px;
      background-color: #D6B2A6; /* pink */
  }

  .btn-mystery{
      padding: 10px 60px;
      background-color: #5397AC; /* blue */
      margin-left: 70px;
  }

  .btn-histfiction{
    padding: 10px 70px;
    background-color: #5397AC; /* blue */
}
.btn-thriller{
      padding: 10px 70px;
      background-color: #D6B2A6; /* pink */
  }

  .btn-dystopian{
      padding: 10px 50px;
      background-color: #DBD1AB; /* yellow */
  }
  .btn-selfhelp{
    padding: 10px 50px;
    background-color: #DBD1AB; /* yellow */
    margin-left: 130px;
  }

  .genre-row4{
    margin-bottom: 80px;
  }

  .btn-youngadult{
      padding: 10px 70px;
      background-color: #5397AC; /* blue */
  }

  .btn-search{
      padding: 10px 40px;
      background-color: #D6B2A6; /* pink */
  }
  .BOTM-container {
    background-color: #fff;
    margin-top: 20px;
  }

  .BOTM-content{
    padding-left: 80px;
  }

  .BOTM-content h2{
    margin:0;
  }

  .BOTM-content p{
    padding-left: 30px;
  }

  .BOTM-summary{
    margin-top: 30px;
    margin-left: 20px;
  }

  .BOTM-image{
    height: 500px;
    width: auto;
  }

 .qResultHeader{
    text-align: left;
    padding-left: 60px;
 }

