/* Footer Container */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #897ad5;

  height: 240px;
}

/* Footer Left Section */
.footer-left {
  display: flex;
  align-items: center;
  margin-left: 50px;
  
 
}

.footer-left p {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin: 4px;
  font-size: 16px;
  color: #FFFFFF;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; 
  
}
.Left-footer-column {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  
}

/* Footer Middle Section */
.footer-middle {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}


.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  
}

.social-icon1 {
  margin-right: 10px; /* Adjust spacing between icons */
  
}
.social-icon2 {
  margin-right: 10px; /* Adjust spacing between icons */
}

.footer-column {
  display: flex;
  flex-direction: column;

}

.Left-vertical-line {
  height: 200px; /* Adjust height as needed */
  width: 1px;
  background-color: #806766;
  margin: 0 20px;
  margin-left: 180px;
}

.get-updates {

  text-align: center; /* Align text center */
  margin-left: 100px;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 0;
  display: flex; /* Add this line */
  flex-direction: column; 
}
.get-updates h1 {  
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 20px;
}
.get-updates p {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.get-updates input {
  margin: 5px;
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.Right-vertical-line {
  height: 200px; /* Adjust height as needed */
  width: 1px;
  background-color: #806766;
  margin: 0 20px;
  margin-left: 100px;

  
}
/* Footer Right Section */
.footer-right {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-right: 40px;
}

.footer-logo {
  width: 280px; /* Adjust size as needed */
  height: 90px;
  margin-bottom: 20px;
}

.quote {
  font-style: italic;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.quoteAuthor {
  font-style: italic;
  margin-bottom: 50px;
  margin-left: 160px;
  color: #FFFFFF;
}