.artsection{
    color: #3E2D70;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex-wrap: wrap; */
    font-size: 20px;
    text-align: center; /*card*/
    width: 30;
    margin: 0 auto;
}

.art-text{
    color: #3E2D70;
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
}

