.loading-dot {
    width: 20px;
    height: 20px;
    background-color: #897AD5;
    border-radius: 50%;
    margin: 5px;
    margin-top: 10px;
    animation: bounce 1s infinite ease-in-out;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  