.fullCard{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;


}
.pContainer {    
    padding-top: 50px;
    padding-bottom: 50px;

    display: grid;
    align-items: top; 
    grid-template-columns: 1fr 1fr;
    background-color: #F5F5F5;
    border-radius: 25px;
    box-shadow: 5px 10px 8px #888888;

   }
   
   .char-image {
    float: right;
    padding-right: 150px;
    height: 250px;
   }


   .text {
    padding: 50px;
    font-size: 20px;
    float: left;
   }

