.aboutus-container {
    width: 100%;
    display: grid;
    align-items: top; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    background-color: #B5E0EE;
    height: 50%;
   }
   
   .aboutus-hero-image {
     max-width: 70%;
     padding: 50px;     

   }


   .aboutus-text {
     font-size: 20px;
     padding: 200px;

   }


 