.container {
    display: grid;
    align-items: top; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    background-color: #B5E0EE;
    height: 50%;
   }
   
   .hero-image {
     max-width: 70%;
     padding: 50px;     

   }


   .text {
     font-size: 20px;
     padding-left: 200px;

   }


 