.createPostContainerOutside{
    padding: 50px
}
.createPostContainerInside{
    background-color: #E6F4F9;
    width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center; /*card*/
    margin: 0 auto;
    padding: 20px;
    
}


.createPostText{  
    justify-content: top;
    width: 750px;
    border: 1px solid #ccc;
    padding: 8px 30px 8px 20px;
    height: 50px;
  
}


.createPostBodyText{  
    width: 750px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px 30px 175px 20px;
  
}

.addImageBtn{
    width: 200px;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #8a8265;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 0 4px #ffffff;

}

.publishBtn{
    width: 200px;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(230.28deg, #ddbfb5, #5397ac);
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 0 4px #ffffff;
    position: absolute;
    display: inline-block;
    margin-left: 545px;
    margin-top: 370px;
}
