.event-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

.event-carousel{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    color: black;
    font-size: 20px;
    text-align: center; /*card*/
    /* width: 30; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    
}



