.footer1 {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #A08786;
  display: flex;
  max-width: 100%;
}
.about-us,
.blank-line4,
.blank-line5 {
  margin: 0;
}
.terms-of-use {
  margin: 0;
  white-space: pre-wrap;
  background-color: #A08786
}

.blank-line6 {
  margin: 10px 0;
}
.about-us-terms-container {
  width: 598px;
  height: 90px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  cursor: pointer;
  z-index: 2;
  margin: 0;
  background-color: #A08786
}
.copyright-icon {
  width: 16px;
  height: 15.7px;
  position: relative;
  z-index: 1;
  background-color: #A08786
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  background-color: #A08786
}
.between-the-lines1 {
  margin: 0;
}
.blank-line7 {
  margin: 0;
  color: #A08786;
}
.between-the-lines-container {
  width: 252px;
  height: 29px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  background-color: #A08786
}
.about-us-frame,
.copyright-icon-frame1,
.copyright-icon1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #A08786
}
.copyright-icon1 {
  flex: 1;
  flex-direction: column;
  padding: 0;
  background-color: #A08786
}
.about-us-frame,
.copyright-icon-frame1 {
  width: 257px;
  flex-direction: row;
  background-color: #A08786;
}
.copyright-icon-frame1 {
  width: 593px;
  justify-content: center;
  max-width: 100%;
  color: #ffffff;
  background-color: #A08786
}
.footer {
  align-self: stretch;
  background-color: #A08786;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-47xl) var(--padding-xl) var(--padding-23xl)
    var(--padding-27xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: #ffffff;
  background-color: #A08786;
  font-family: var(--font-roboto);
}
@media screen and (max-width: 750px) {
  .footer {
    gap: var(--gap-mini);
    padding-left: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .about-us-terms-container,
  .between-the-lines-container {
    font-size: var(--font-size-base);
    background-color: #A08786
  }
}

 .footer-logo {
  background-color: #A08786;
  height: 50px;
  border-width: 50px;

}
html, body {
  height: 100vh;
  width: 100vw;
}

.blank-line12 {
  background-color: #A08786
}