/* HeroSection.css */

.hero-container {
  position: relative;
  width: 100vw;
  z-index: 0;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
  z-index: -1;
  opacity: 80%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
}

.hero-content h1 {
  font-size: 4rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.hero-section {
  margin-bottom: 80px;
}

/* Mission section */
.row {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-center {
  padding: 20px;
  text-align: center;
  width: calc(25% - 40px); /* Adjust as needed */
}

.missionText {
  padding: 10px;
  color: black;
  font-size: 1.2rem;
}

.msimg {
  width: 100%;
}


.BOTM-container {
  position:relative;
  align-items: center;
  margin-top: 30px; /* Adjust as needed */
  width: 100vw;
  z-index: 0;
  padding:0;
  margin:0;
}

.BOTM-content {
  position: absolute;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex:1;
  padding: 20px;
  z-index: 1;
}

.BOTM-divider{
  width: 18%;
  margin: auto;
  border-width: 2px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.BOTM-content h1 {
  font-size: 3rem;
  right: 50px;
  margin-bottom: 35px;
}

.BOTM-content h2{
  font-size: 2.75rem;
  margin-bottom: 5px;
}

.BOTM-content h3{
  font-size: 2rem;
}

.BOTM-content p {
  font-size: 1.5rem;
  margin-bottom:5px;
}

.BOTM-imageZoom {
  width: 100vw; /* Adjust as needed */
  height:auto;
  display: block;
  z-index: -1;
  opacity: 0.75;
}

.BOTM-image {
  position:absolute;
  top: 20px;
  right: 50px;
  width: 300px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1;
}

.btn-2{
  display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #D6B2A6; /* pink */
    color: #fff; /* white */
    margin-right: 5px;
    margin-top: 20px;
}

.btn-3{
  display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #95B9B4; /* green */
    color: #fff; /* white */
    margin-left: 5px;
    margin-top: 20px;
}