


  
  /* dropdown menu styles */
  .sub-menu {
    list-style: none;
    padding-left: 20px; /* Indent sub-menu items */
  }
  
  .sub-menu li {
    padding: 10px;
    border-radius: 50px;
  }
  
  .sub-menu li:hover {
    background-color: #666666; /* Background color when hovering over sub-menu item */
    border-radius: 10px;
  }
  
  
  
  
 
 